name: Build & Push Lab Backend

on:
  push:
    branches:
      - "main"
    paths:
      - "backend/**"
      - ".github/workflows/docker-build-lab-backend.yml"

jobs:
  build:
    name: Build and Push Evolvia Lab Backend Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout PR code
        uses: actions/checkout@v4

      - name: Read version from pyproject.toml
        id: get_version
        run: |
          version=$(grep '^version' cleanup-trigger/pyproject.toml | sed 's/version = "\(.*\)"/\1/')
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/cloudsteak/evolvia/backend:latest
            ghcr.io/cloudsteak/evolvia/backend:${{ steps.get_version.outputs.version }}
